#cube{
	height: 100px;
	width: 100px;
	background-color: red;
	display: none;
	position: absolute;
	top: 15px;
	left: 15px;
}
#circle{
	height: 100px;
	width: 100px;
	background-color: blue;
	border-radius: 50%;
	display: none;
	position: absolute;
	top: 15px;
	left: 15px;
}